.addTask {
    padding-left: 25%;
    padding-right: 10%;
    height: 85vh;
    padding-top: 50px;
    font-size: 21px;
}

h1 {
    font-size: 55px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.taskContainer {
    margin-top: 2%;
    height: 76%;
    display: flex;
}

.taskContainerLeft {
   
    height: 95%;
    width: 43%;
    border-right: 1px solid #D1D1D1;
}

.taskContainerRight {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 95%;
    width: 43%
}

.taskBottomRow {
    display: flex;
    justify-content: end;
    width: 86%;
    margin-top: 45%;
}

.taskBottomBtn {
    display: flex;
    width: 338px;
    justify-content: space-between;
}

#clearBtn {
    display: flex;
    align-items: center;
    padding: 11px;
    width: 114px;
    justify-content: space-between;
    border: 1px solid #2A3647;
    border-radius: 10px;
    cursor: pointer;
    font-size: 21px;
}

#createTaskBtn {
    background-color: #2A3647;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    padding: 11px;
    width: 162px;
    justify-content: space-between;
    border-radius: 10px;
    cursor: pointer;
    font-size: 21px;
}

.taskBtnIcon {
    height: 20px;
    width: 20px;
}

.taskContainerSections {
    margin-top: 6%;
}

p {
    margin-top: 2%;
    margin-bottom: 2%;
}

.inputField {
    background-color: #FFFFFF;
    border: 1px solid rgb(0, 0, 0, 0.3);
    padding: 11px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 1px rgb(0 0 0 / 10%);
    width: 390px;
}

.selectWidth {
    width: 414px !important;
}

textarea:focus,
input:focus {
    outline: none;
}

.textarea {
    height: 75px;
    min-width: 390px;
    max-height: 150px;
    min-height: 20px;
    max-width: 390px;
}

.prio {
    display: flex;
    justify-content: space-between;
}

.prioBtn {
    background-color: #FFFFFF;
    border: 1px solid rgb(0, 0, 0, 0.3);
    padding: 11px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 1px rgb(0 0 0 / 10%);
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.prioIcon {
    height: 15px;
    width: 15px;
    margin-left: 10px;
}

.prioIconFilter {
    filter: brightness(0) invert(1);
}

.prioUrgent {
    background-color: #FF551F;
    color: white;
}

.prioMedium {
    background-color: #FFA800;
    color: white;
}

.prioLow {
    background-color: #7AE229;
    color: white;
}

.dropdown {
    background-color: #FFFFFF;
    border: 1px solid rgb(0, 0, 0, 0.3);
    border-radius: 10px;
    box-shadow: 0px 0px 2px 1px rgb(0 0 0 / 10%);
    width: 390px;
    cursor: pointer;
}

.dorpdownRow {
    display: flex;
    justify-content: space-between;
}

.categoryPadding {
    padding: 11px;
}

.category {
    display: flex;
    align-items: center;
}

.category:hover {
    background-color: #E7E7E7;
}

.catColor {
    height: 20px;
    width: 20px;
    border-radius: 100%;
    margin-left: 20px;
}

.dropdownContainer {
    max-height: 200px;
    overflow: auto;
}