.contacts {
    padding-left: 220px;
    height: 94vh;
    display: flex;
}

#contactsContainerLeft {
    width: 367px;
    height: 100%;
    background-color: #FFFFFF;
    overflow-y:scroll;
    border-right: 1px solid rgb(0, 0, 0, 0.3);
    padding-right: 50px;
    padding-left: 50px;
    box-shadow: 0px 0px 2px 1px rgb(0 0 0 / 10%);
    display: flex;
    flex-direction: column;
}

.contactsContainerRight {
    margin-top: 50px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 100px;
    width: 65%;
}

.containerRightRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 420px;
}

.contactsHeadline {
    width: 218px;
    border-right: 2px solid #29ABE2;
    font-size: 42px;
}

.addContactBtn {
    background-color: #2A3647;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    padding: 11px;
    width: 130px;
    justify-content: space-between;
    border-radius: 10px;
}

.contactIcon {
    height: 20px;
    width: 20px;
}

.contactsContainerBtn {
    display: flex;
    justify-content: end;
    margin-right: 15%;
    cursor: pointer;
}

.contactsCharacter {
    font-size: 21px;
    padding-top: 35px;
    padding-bottom: 25px;
    border-bottom: 1px solid #D1D1D1;
    padding-left: 25px;
    margin-bottom: 12.5px;
}

.contactsRow {
    margin-top: 12.5px;
    margin-bottom: 12.5px;
    display: flex;
    align-items: center;
    padding-left: 13px;
}


.initials {
   
    margin-right: 25px;
    
    
    
}

.circleBg {
    font-size: 16px;
    color: white;
    height: 32px;
    width: 32px;
    padding: 10px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactName {
    font-size: 21px;
}

.email {
color: #007CEE
}